.user_wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;
  .user_outlet {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 70%;
    background-color: #fcefec;
    @media screen and (max-width: 850px) {
      width: 100%;
    }
    .user_nav {
      padding: 3rem 2rem;
      .user_hamburger {
        font-size: 2rem;
        color: #df6951;
        cursor: pointer;
        @media screen and (min-width: 850px) {
          display: none;
        }
      }
    }
  }
}
